<body>
    <div class="container page">
      <div class="title mt-4">
        <div class="row melania">
          <div class="jrm col-2"><b>JRM</b></div>
          <div class="text-center col-8" id="mk"><b>Task Manager++</b></div>
          <div class="col-2"></div>
        </div>
      </div>
      <div class="row filters mt-3">
        <div class="col-2"></div>
        <div class="filter-button text-center col-2" id="active">
         <b>Active</b>
        </div>
        <div class="col-1"></div>
        <div class="filter-button text-center col-2" id="completed">
         <b>Completed</b> 
        </div>
        <div class="col-1"></div>
        <div class="filter-button text-center col-2" id="all">
          <b>All</b>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="add text-center mt-3" data-bs-toggle="modal" data-bs-target="#addTaskModal">
        <b>Add Task</b>
      </div>
      <table class="tasks-table mt-3">
        <tr class="task">
          <td class="px-2 pt-1 task-border check">
            <mat-checkbox></mat-checkbox>
          <td class="px-2 pt-1 task-border time"><b>time</b></td>
          <td class="px-2 pt-1 task-border text"><b>title</b></td>
          <td class="px-2 pt-1 task-border description">descript</td>
          <td class="task-border edit px-2 pt-1"><b>edit✎</b></td>
          <td class="task-border delete px-2 pt-1"><b>delete✘</b></td>
        </tr>
        <tr class="task" *ngFor="let task of allTasks">
            <td class="px-2 pt-1 task-border check">
                <mat-checkbox *ngIf="!task.completed" (click)="completeSwitch(task)"></mat-checkbox>
                <div *ngIf="task.completed" style="text-align: center;" (click)="completeSwitch(task)">
                    <img src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_1280.png" style="height: 20px; width: 20px;">
                </div>
            <td class="px-2 pt-1 task-border time"><b>{{task?.time}}</b></td>
            <td class="px-2 pt-1 task-border text"><b>{{task?.name}}</b></td>
            <td class="px-2 pt-1 task-border description">{{task?.description}}</td>
            <td class="task-border edit px-2 pt-1" (click)="onOpenEditModal(task)" data-bs-toggle="modal" data-bs-target="#editTaskModal"><b >edit✎</b></td>
            <td class="task-border delete px-2 pt-1" (click)="onOpenDeleteModal(task)" data-bs-toggle="modal" data-bs-target="#deleteTaskModal"><b>delete✘</b></td>
        </tr>
      </table>
    </div>
  </body>

<!-- Add Task Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #addForm="ngForm" (ngSubmit)="onAddTask(addForm)">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input class="form-control" name="name" required [(ngModel)]="addTask.name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input class="form-control" name="description" required [(ngModel)]="addTask.description">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Time</label>
                        <input class="form-control" name="time" required [(ngModel)]="addTask.time">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="add-task-form" [disabled]="addForm.invalid" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                </div>
            </form>              
        </div>
    </div>
</div>

<!-- Edit Task Modal-->
<div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit {{editTask.name}} Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #editForm="ngForm" (ngSubmit)="onEditTask(editTask)">
                <input type="hidden" class="form-control" name="id" [(ngModel)]="editTask.id">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input class="form-control" name="name" required [(ngModel)]="editTask.name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input class="form-control" name="description" required [(ngModel)]="editTask.description">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Time</label>
                        <input class="form-control" name="time" [(ngModel)]="editTask.time">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="edit-task-form" [disabled]="editForm.invalid" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                </div>
            </form>              
        </div>
    </div>
</div>

<!-- Delete Task Modal-->
<div class="modal fade" id="deleteTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete {{deleteTask.name}} Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #editForm="ngForm" (ngSubmit)="onDeleteTask(deleteTask)">
                <div class="modal-footer">
                    <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="delete-task-form" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                </div>
            </form>              
        </div>
    </div>
</div>
