/* You can add global styles to this file, and also import other style files */
body {
    background-color: #E7EBEE;
}

.title {
    border-style: outset;
    border-width: 5px;
    margin: auto;
    width: 75%;
    background-color: #CC0033 ;
    padding: 10px;
    padding-top: 1.25em;
    font-family: "Karma", serif;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    border-color: #9d0229;
}

/*.contrail-one-regular {
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*/

.jrm {
    font-size: 25px;
    text-align: left;
    color: #9d0229;
}

#mk {
    font-size: 2.5em;
}

.tasks-table {
    border-width: 5px;
    width: 65%;
    margin: auto;
    border-style: solid;
    margin-top: 10px;
}

.task-border {
    border-width: 2px;
    border-style: solid;
}

.melania {
    min-width: 100%;
}

.page {
    width: 100%;
    height: 100%;
}

.filter-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-style: inset;
    border-radius: 4px;
    background-color: #ffffff;
    border-color: #c3ced5;
    color: #CC0033;
    font-family: "Karma", serif;
    font-weight: 500;
    font-style: normal;
    padding-top: .4em;
}

.filter-button:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.filter-button:active {
    background-color: rgb(214, 214, 214);
}

#active {
    
}

#completed {
   
}

#all {
    
}

.filters {
    width: 75%;
    margin: auto;
}

.check {
    width: 5%;
}

.time {
    width: 15%;
}

.text {
    width: 40%;
}

.description {
    width: 10%;
}

.edit {
    width: 10%;
    padding: 0%;
    background-color: green;
}

.edit:hover {
    background-color: #2e6e26;
    cursor: pointer;
}

.edit:active {
    background-color: #23541d;
}

.delete {
    width: 10%;
    padding: 0%;
    background-color: red;
}

.delete:hover {
    background-color: #cf0404;
    cursor: pointer;
}

.delete:active {
    background-color: #910404;
}

.checkmark {
    width: 80%;
}

.check:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.check:active {
    background-color: rgb(214, 214, 214);
}

.add {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-style: inset;
    border-radius: 4px;
    background-color: #e20039;
    border-color: #910404;
    color: #ffffff;
    font-family: "Karma", serif;
    font-weight: 500;
    font-style: normal;
    padding-top: .4em;
}

.add:hover {
    background-color: #d10034;
    cursor: pointer;
}

.add:active {
    background-color: #b2002c;
}

.task {
    background-color: white;
}